* {
    font-family: 'Open Sans', sans-serif;
}

body {	
	background-color: black;
}

.nav-bar {
    li {
        margin-left: 30px;
        font-size: 15px;
    }
}

header, footer {
    height: 60px;
	background-color: #000000;
    color: white;
    li>a {
        text-decoration: none;
        color: #feda31;
        font-size: 30px;
        flex-direction: row;
        padding-left: 90px;
    }
    h1 {
        font-family: 'Black Han Sans', sans-serif;
        color: #feda31;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 30px;
    }
}

main {
    margin-top: 50px;
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        color: #feda31;
        text-align: center;
        border-top: 1px solid #feda31;
        border-bottom: 1px solid #feda31;
    }
    p {
        padding-left: 90px;
        padding-right: 90px;
        text-align: justify;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        color: white;
    }
}

.section-about {
    img {
        max-width: 100%;
        height: auto;
    }
}

.section-shop {
    margin-top: 50px;
    img {
        width: 450px;
        height: auto;
    }

    p {
        font-size: 23px;
        justify-content: center;
    }
}

@media screen and (max-width: 948px) {
    .nav-bar {
        display: none;
    }
    .section-shop {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .section-about>p {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .section-about>p {
        font-size: 15px;
    }
}
